h1 {
  border-bottom: 3px dashed #552600;
  border-top: 3px dashed #552600;
  border-left: 3px dashed #552600;
  padding: 16px 48px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  font-weight: 800;
  color: #552600;
}

.header-div {
  border: 3px solid #552600;
  position: relative;
  height: 25vh;
  background-color: #dcf1a1;
  font-family: 'Josefin Slab', serif;
}
